.day-active {
  border: 1px solid rgb(61, 156, 245);
  background-color: rgba(61, 156, 245, 0.326);
  cursor: pointer;
}
.days-active {
  border: 1px solid rgb(61, 156, 245);
  background-color: rgba(61, 156, 245, 0.326);
  cursor: pointer;
}

.day{
  border: 1px solid rgb(60, 60, 60);
}

.day:hover {
  background-color: rgba(61, 156, 245, 0.326);
  cursor: pointer;
}

.days:hover {
  background-color: rgba(61, 156, 245, 0.326);
  cursor: pointer;
}

.month-pannel-small {
  border: 1px solid rgb(60, 60, 60);
}

.month-pannel {
  position: absolute
}
.popup {
  position: relative;
  background-color: rgb(153, 206, 255);
  height: 350px;
  width: 300px;
  left: 50%;
  top: 350px;
  z-index: 1;
  border-radius: 20px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s

}
.popup-dark {
  position: relative;
  background-color: rgb(61, 61, 61);
  height: 350px;
  width: 300px;
  left: 50%;
  top: 350px;
  z-index: 1;
  border-radius: 20px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.text-box {
  display: flex;
  direction: row;
  justify-content: center;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.EventNoteIcon {
  transform: scale(1.8);
  position: relative;
  top: -10px;
}