.day-active {
  border: 1px solid rgb(61, 156, 245);
  background-color: rgba(61, 156, 245, 0.326);
  cursor: pointer;
}

.day:hover {
  background-color: rgba(61, 156, 245, 0.326);
  cursor: pointer;
}